flai.db
flai.exe
flai.exe~
/dist/
/docs/
/ref/
# Desktop Electron app is part of the repository.
/data/
.env
.jwt_secret
*.db-shm
*.db-wal
log/
/original/
/old/
/.cache/
node_modules/
.yarn/install-state.gz
dist/